<div class="theme-inner-banner">
    <div class="opacity">
        <div class="container">
            <h1>Store Locator</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>/</li>
                <li>Store Locator</li>
            </ul>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.opacity -->
</div>
<!-- <div class="container">
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0740323721925!2d72.83370035010358!3d19.104407887008154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c763eb64a5%3A0x5bfa469d7cd1ae79!2sThe+VJ+Caf%C3%A9!5e0!3m2!1sen!2sin!4v1517381453765"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Vile Parle West</h4>
                </div>
                <adress class="address">
                    Shop 2, Ground Floor, Shree Nataraj Building,
                    <br>Opposite Bhaidas Auditorium, JVPD Lane,
                    <br> Vile Parle West, Mumbai
                    <br>Maharashtra 400056
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">Hours : 9 AM to 10 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9102269999074">022 69999074</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.505917126571!2d72.94721015010478!3d19.173093086968624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8f9d203f1b5%3A0xcd4aaae16ec7bca5!2sThe+VJ+Cafe+Mulund!5e0!3m2!1sen!2sin!4v1517383176416"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Mulund West</h4>
                </div>
                <adress class="address">
                    Shop 7, Meghdoot, Purushottom Kheraj Road,
                    <br>Opposite Kalidas Theatre,
                    <br> Mulund West, Mumbai
                    <br>Maharashtra 400080
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">12 Noon to 12 Midnight (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+918291613030">+91 8291613030</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.110696474828!2d72.85123920010597!3d19.23400683693358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b0d8469900c1%3A0xc1e86a2176070a1f!2sThe+vj+cafe+borivali!5e0!3m2!1sen!2sin!4v1517383935518"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Borivali West</h4>
                </div>
                <adress class="address">
                    Shop No.5, Shroff Tower,
                    <br>Sodawala Lane, Himmat Nagar,
                    <br> Borivali West, Mumbai
                    <br>Maharashtra 400092
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">Hours : 11 AM to 12 Midnight (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919930887711">+91 9930887711</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.414864796671!2d72.90086140010256!3d19.0454888370421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf5b30486b21%3A0x67840dfe66d71104!2sThe+VJ+Cafe+-+Chembur!5e0!3m2!1sen!2sin!4v1517384364241"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Chembur</h4>
                </div>
                <adress class="address">
                    Shop 3, Cubic Mall, Dr. CG Road,
                    <br>Chembur, Mumbai
                    <br>Maharashtra 400074
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">10 AM to 11:30 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9102225200302">022 25200302</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.6917415283456!2d72.90312655010311!3d19.077286187023837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c62f4f32c67b%3A0x6e4a73e5157752c7!2sAlag+Property+Consultants!5e0!3m2!1sen!2sin!4v1517384964222"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Ghatkopar East</h4>
                </div>
                <adress class="address">
                    3, Prabhu Krupa Buidling, Tilak Road,
                    <br>Opposite Sindhu Road,
                    <br>Ghatkopar East, Mumbai
                    <br>Maharashtra 400077
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">11 AM to 11:30 PM (Mon-Fri),11 AM to 12 Midnight(Sat-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+917045583872">+91 7045583872</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.8860769114035!2d72.86549515010682!3d19.287319786903012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b046dd58d845%3A0x15c2f8d7c186f945!2sVJ+Cafe!5e0!3m2!1sen!2sin!4v1517385342212"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Mira Road</h4>
                </div>
                <adress class="address">
                    Shop 11, Oswal Orbit Shopping Center,
                    <br>Kanakia Junction, Chandan Shanti,
                    <br>Mira Road, Thane, Mumbai
                    <br>Maharashtra 401107
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">9 AM to 11 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+917506963733">+91 7506963733</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1885.9128767329462!2d72.85462682578203!3d19.02739834676317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf288bdb7259%3A0xa19df8306158bc85!2sThe+VJ+Cafe!5e0!3m2!1sen!2sin!4v1517385548775"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Matunga East</h4>
                </div>
                <adress class="address">
                    Plot 362, Broadway Building, Dr. Babasaheb Ambedkar Road,
                    <br>Kings Circle,
                    <br>Matunga East, Mumbai
                    <br>Maharashtra 401107
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">10 AM to 1 AM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9102269999071">022 69999071</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60337.10942303199!2d72.80113286971682!3d19.060688754600676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c916b426e1cd%3A0xc96d10d8b1318eec!2sThe+VJ+Cafe%2C+Bandra!5e0!3m2!1sen!2sin!4v1517385797543"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Bandra West</h4>
                </div>
                <adress class="address">
                    248, Linking Road, Bandra West,
                    <br>Mumbai,
                    <br>Maharashtra 400050
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">8 AM to 12 Midnight (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9102265999075">022 65999075</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120595.01808344529!2d72.77448239390183!3d19.169227457037415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6d1bcbe2d41%3A0x144f733ef267cb96!2sVJ+cafe+kandivali!5e0!3m2!1sen!2sin!4v1517386124879"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Kandivali West</h4>
                </div>
                <adress class="address">
                    Shop 10, Shubhkamna Building, Mahavir Nagar,
                    <br>Kandivali West, Mumbai
                    <br>Maharashtra 400067
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919664001200">+91 9664001200</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.3224361804923!2d72.83406115010493!3d19.181114286963986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6f104e43a8f%3A0xef1a59cd7a649ac2!2sThe+VJ+cafe+Malad!5e0!3m2!1sen!2sin!4v1517386416264"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Malad West</h4>
                </div>
                <adress class="address">
                    4, Ganga Niwas Society, Opposite Toyota Showroom, Link road,
                    <br>Malad West, Mumbai
                    <br>Maharashtra 400067
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">8 AM to 12 Midnight (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919987150646">+91 9987150646</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.0046537410303!2d72.97463025010526!3d19.194999086956123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b92461a577b7%3A0xe4307ff0582f3066!2sChintamani+Jewellers!5e0!3m2!1sen!2sin!4v1517386911486"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Naupada</h4>
                </div>
                <adress class="address">
                    Shop 5, Saro Darshan Tower, Shivaji Path,
                    <br> Talao Pali Junction, Near Kalyan Jewellers,
                    <br>Naupada, Thane West, Mumbai
                    <br>Maharashtra 400601
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">10 AM to 10 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919820318541">+91 9820318541</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1882.7154487691957!2d72.85472887578335!3d19.30709959672296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b02c1ede70cb%3A0x3bf1c98590f3583a!2sSaibaba+Hospital!5e0!3m2!1sen!2sin!4v1517387221496"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Bhayandar</h4>
                </div>
                <adress class="address">
                    Shop 3, Ground Floor, Krishna Kunj CHS Limited,
                    <br> B.P Road, Opposite Sai Baba Hospital,
                    <br>Bhayandar East, Mumbai
                    <br>Maharashtra 401105
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">11 AM to 11 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919594278276">+91 9594278276</a> / <a href="tel:+917977320638">+91 7977320638</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.3627757000527!2d72.53526822113687!3d23.047157954747703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84bb5cc9b119%3A0x6169ca9623ca65bd!2sThe+VJ+Cafe!5e0!3m2!1sen!2sin!4v1517387625873"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Ahmedabad</h4>
                </div>
                <adress class="address">
                    7, Sushilnagar society - Part 2, Manav Mandir,
                    <br>Drive-In-Road, Mayur Nagar Society,
                    <br>Sushil Nagar Society, Memnagar,
                    <br>Ahmedabad, Gujarat 380052
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">11 AM to 11 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9107948923556">+91 79 4892 3556</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29372.180662177667!2d72.53835798149974!3d23.041295242411024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0527881cae66d%3A0xec3735c4a4c41e6!2sThe+VJ+Cafe!5e0!3m2!1sen!2sin!4v1517391430509"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Surat</h4>
                </div>
                <adress class="address">
                    G-22, Prime Shoppers, Opp. Safal Square,
                    <br>University Road, Vesu, Vesu,
                    <br>Surat, Gujarat 395007
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">11 AM to 11.30 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+919879229492">+91 098792 29492</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3134.084434424518!2d77.74935453942004!3d20.90928157178446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a4c979cc0ad5%3A0x593dc9219570362b!2sThe+VJ+Cafe!5e0!3m2!1sen!2sin!4v1517391634839"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Amravati</h4>
                </div>
                <adress class="address">
                    444605, Badnera Rd, Vidhya Vihar Colony,
                    <br> Navathe Nagar, Amravati,
                    <br>Maharashtra 444607
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">11 AM to 11.15 PM (Mon-Sun)</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="head-office">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0740323721925!2d72.83370035010358!3d19.104407887008154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c763eb64a5%3A0x5bfa469d7cd1ae79!2sThe+VJ+Caf%C3%A9!5e0!3m2!1sen!2sin!4v1517391845826"
                    width="250" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <div class="title">
                    <h4>Vashi</h4>
                </div>
                <adress class="address">
                    Shree Natraj Building, N. S. Road No. 2 &amp; JVPD Lane,
                    <br>Near Mithibai College,
                    <br>Vile Parle West, Mumbai,
                    <br>Maharashtra 400056
                    </address>
                    <div class="contact-ways">
                        <div class="telephone">
                            <p class="hours">8 AM to 10 PM (Mon-Sun)</p>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>THE VJ CAFE</span>
                                <a href="tel:+9102269999074">+91 022 6999 9074</a>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->
<div class="flex-item-container row-margin">
    <div class="map-section">
        <div class="map-place" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0740323721925!2d72.83370035010358!3d19.104407887008154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9c763eb64a5%3A0x5bfa469d7cd1ae79!2sThe+VJ+Caf%C3%A9!5e0!3m2!1sen!2sin!4v1517391845826"
                width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="custom-slider">
        <div class="border">
            <div class="row">
                <div class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
                    <div class="location-title text-center">
                        <div class="btn-group" uib-dropdown>
                            <button id="single-button" type="button" class="btn location--btn" uib-dropdown-toggle ng-disabled="disabled">
        hujj <span><img width="15" height="15" src="img/home/1.jpg"></span>
      </button>
                            <ul class="location-dropdown location-dropdown-menu dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-click="changePlaces(place)" value="Mumbai"><a href="#">Mumbai</a></li>
                            </ul>
                        </div>
                        <div class="location-name">
                            <h3 class="tab-title text-uppercase marg0">Hello</h3>
                        </div>
                    </div>

                    <flexslider class="section-padd" prev-text="" next-text=""
                        animation="slide" item-width="300" item-margin="20" min-items="2" flexslider>
                        <li class="flex-li">
                            <div class="row">
                                <div class="store-location-dtl">
                                    <div class="store-location-brands-dtl">
                                        <!-- <img src="img/home/1.jpg" alt="Brand Logo" class="img-responsive"> -->
                                        <p class="name"><b>3424</b></p>
                                    </div>
                                    <div class="store-location-addrs-dtl">
                                        <address class="address"><b>check</b></address>
                                        <p class="contact-no"><b>3424</b></p>
                                        <p class="email"><b>email</b></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </flexslider>
                </div>
            </div>

        </div>
    </div>
</div>