<div class="theme-inner-banner">
	<div class="opacity">
		<div class="container">
			<h1>Franchise</h1>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li>/</li>
				<li>Franchise</li>
			</ul>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<div class="container">
	<div class="franchise-section">
		<div class="franchise-section-title">
			<h2>Franchise the VJ cafe </h2>
			<p>we love the concept of our business. VJ cafe is gaining recognition amongst the colleges and youngsters. we are so happy
				and PROUD OF TRACK RECORD OF Success, that we started to get into franchising. We started franchising in 2017, and within
				6 months, we sold 20 franchisees, in Mumbai, Surat, Amravati and Ahmedabad.</p>
			<p>
				AS franchisers, we provide all inclusive support with the product and we would be happy to speak to qualified individuals
				who share our vision. Franchise : for Master franchise: he should be from food industry. Should have experience into
				franchising. Local connections should be strong. Can expand the brand aggressively. Should have an investment capacity
				of around 50 lakhs min. Unit franchise : should have a property near a college or prime school. Should have passion for
				food industry. Smaller space of around 200 sq ft.</p>
		</div>
	</div>
</div>
<div class="short-banner">
	<div class="opacity">
		<div class="container">
			<div class="franchise-form">
				<h3 class="text-center"><strong>WE’LL BE BACK SOON!</strong></h3>
				<p class="text-center">Parties looking to grow with us are requested to fill in the franchise application form below- </p>
				<p class="text-center"></p>
				<div class="screen-reader-response"></div>
				<form class="form-inline" action="/action_page.php">
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" name="email">
					</div>
					<div class="form-group">
						<label for="pwd">Password:</label>
						<input type="password" class="form-control" id="pwd" name="pwd">
					</div>
					<div class="form-group">
						<label for="Purpose">Purpose:</label>
						<input type="text" class="form-control" id="Purpose" name="Purpose">
					</div>
					<div class="form-group">
						<label for="phone"> Ph.No :</label>
						<input type="number" class="form-control" id="phone" name="phone">
					</div>
					<div class="text-center"> <a class="wow fadeInLeft  banner-button p-bg-color submit-button tran3s" data-wow-delay="0.6s">submit</a></div>
				</form>
				<p style="font-weight: 400; text-align: center;">FOR ALL FRANCHISE-RELATED ENQUIRIES, PLEASE CONTACT ANY OF THE BELOW DURING&nbsp;
					<u><span class="m_8115789395777657109m_3586471911811694621gmail-aBn"><span class="m_8115789395777657109m_3586471911811694621gmail-aQJ"><span class="aBn" tabindex="0" data-term="goog_774299381"><span class="aQJ">10 AM–6 PM IST</span></span>
						</span>
						</span>
					</u>:</p>
				<p style="text-align: center;">Arpit Agarwal: +919599985550 |&nbsp;Sahil Arya: +919205196160 |&nbsp;Daulat Gandhi: +919205276615 |&nbsp;Jyotiraditya
					Kapoor: +917290097660</p>
			</div>
		</div>
	</div>
	<!-- /.opacity -->
</div>