<div class="theme-inner-banner">
	<div class="opacity">
		<div class="container">
			<h1>Franchise</h1>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<div class="container">
	<div class="franchise-section">
		<div class="franchise-section-title">
			<h2>Franchise the VJ cafe </h2>
			<p>We love the concept of our business. The VJ Cafe concept is made with an idea of making all time favourite Potato fries
				innovative and delicious at the same time. VJ cafe is gaining recognition amongst the colleges and young crowd. We are
				so happy and proud of our track record of Success, that we started to get into franchising. We started franchising in
				2017, and within few months, we sold 20 franchisees, in major cities like Mumbai, Surat, Amravati and Ahmedabad. As franchisers,
				we provide all inclusive support with the product and we would be happy to speak to qualified individuals who share our
				vision </p>
			<h3 class="text-center color-orange">An ideal Operator should have the following :
			</h3>
			<ul class="franchise-list text-center list-unstyled">
				<li>High passion for food</li>
				<li>Should have business acumen</li>
				<li>Strong understanding in executing Four-Walls and local store marketing</li>
				<li>Should have an investment capacity of around 18 lakhs min.</li>
				<li> Unit franchise : should have their own property or a rented one of around 250 sq ft. near a college or school. </li>
			</ul>
		</div>
	</div>
</div>
<div class="short-banner">
	<div class="opacity">
		<div class="container">
			<div class="franchise-form">
				<h3 class="text-center"><strong>WE’LL BE BACK SOON!</strong></h3>
				<p class="text-center">Parties looking to grow with us are requested to fill in the franchise application form below- </p>
				<p class="text-center"></p>
				<div class="screen-reader-response"></div>
				<form class="form-inline" name="franchises">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" name="name" ng-model="formdata.name" required>
						<span ng-show="franchises.name.$touched && franchises.name.$invalid">Please enter a valid name</span>
					</div>
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control" id="email" name="email" ng-model="formdata.email" required>
						<span ng-show="franchises.email.$touched && franchises.email.$invalid">Please enter a valid email</span>
					</div>
					<div class="form-group">
						<label for="location">Location (City) :</label>
						<input type="text" class="form-control" id="location" name="location" ng-model="formdata.location" required>
						<span ng-show="franchises.location.$touched && franchises.location.$invalid">Please enter a location</span>
					</div>
					<div class="form-group">
						<label for="phone"> Ph.No :</label>
						<input type="number" class="form-control" id="phone" name="phone" ng-model="formdata.phNo" required>
						<span ng-show="franchises.phone.$touched && franchises.phone.$invalid">Please enter phone no</span>
					</div>
					<div class="text-center"> <a class="wow fadeInLeft  banner-button p-bg-color submit-button tran3s" data-wow-delay="0.6s" ng-click="franchiseSubmit(formdata)">submit</a></div>
				</form>
				<p style="font-weight: 400; text-align: center;">FOR ALL FRANCHISE-RELATED ENQUIRIES, PLEASE CONTACT : </p>
				<p style="text-align: center;">Franchise Manager (Ankit Shah) - 8779609658</p>
			</div>
		</div>
	</div>
	<!-- /.opacity -->
</div>