<div class="theme-inner-banner">
    <div class="opacity">
        <div class="container">
            <h1>What Do We Serve</h1>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.opacity -->
</div>
<div class="serve-main">
    <div class="container">
        <div class="row" masonry preserve-order>
            <div class="col-md-3 col-sm-3 col-xs-6 masonry-brick" ng-repeat="brick in bricks track by $index">
                <div class="serve-card">
                    <div class="serve-card-img">
                        <img ng-src="{{brick.image|serverimage}}" alt="A masonry brick" class="img-responsive">
                    </div>
                    <div class="serve-card-content">
                        <p>{{brick.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div infinite-scroll="loadMore1()" infinite-scroll-distance="1" infinite-scroll-disabled="loadingDisable"></div>