 @media (max-width: $screen-sm-max) {
     // Tablet
     //scss for header
     header.theme-main-menu-one {
         padding-top: 0;
     }
     #mega-menu-wrapper .nav>li {
         display: block;
         text-align: center;
     }
     .menu-inner-logo {
         display: none !important;
     }
     //end of header
     //scss for home
     .gallery-bg{
    overflow: hidden;
}
.j2 .jr2-text, .j3 .jr2-text{
        left: 100px;
}
.j2 .jr2-img, .j3 .jr2-img{
    right:100px;
}
//for footer
.footer-list-widget .social-name {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 0px;
}
.top-footer-widget h5{
     font-size: 12px;
}
.quick-link{
        padding: 0 0px 0 10px;
}
 }