 @media (max-width: $screen-sm-max) {
     // Tablet
     //scss for header
     header.theme-main-menu-one {
         padding-top: 0;
     }
     #mega-menu-wrapper .nav>li {
         display: block;
         text-align: center;
     }
     .menu-inner-logo {
         display: none !important;
     }  
       .mobile-header a img {
         width: 150px;
         padding: 0 20px;
     }
     //end of header
     //scss for home
     .gallery-bg {
         overflow: hidden;
     }
     .j2 .jr2-text,
     .j3 .jr2-text {
         left: 100px;
     }
     .j2 .jr2-img,
     .j3 .jr2-img {
         right: 100px;
     }
      //Start of Store locator.html
      .store-locator {
        .flex-item-container {
            position: relative;
            @include align-items(initial);
            @include flex-direction(column);
        }
    }
    .row-margin {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .map-section {
        width: 100%;
        @include margin(15px);
    }
    .custom-slider {
        @include margin(0 15px);
        .location-title {
            padding-left: 15px;
            padding-right: 15px;
        }
        .section-padd{
            padding: 15px;
        }
        .flexslider {
            margin: 0 15px 0 15px;
            .flex-prev {
                left: -22px!important;
            }
            .flex-next {
                right: -22px!important;
            }
        }
    }
    //end of store-locator
     //for footer
     .footer-list-widget .social-name {
         font-size: 12px;
         color: rgba(255, 255, 255, 0.6);
         padding: 0 0px;
     }
     .top-footer-widget h5 {
         font-size: 12px;
     }
     .quick-link {
         padding: 0 0px 0 10px;
     }
     .footer-logo .logo img {
         width: 135px;
     }
     //scss for comming -soon
      .social-icon-comming{
         left:82%;
         bottom: 8%;
     }
 }