 @media (max-width: $screen-xs-max) {
     // Mobile
     //scss for header
     header.theme-main-menu-one {
         padding-top: 0;
     }
     #mega-menu-wrapper .nav>li {
         display: block;
         text-align: center;
     }
     .menu-inner-logo {
         display: none !important;
     }
     .mobile-header a img {
         width: 120px;
         padding: 0 20px;
     }
     //end of header
     //scss for home
     .widget-fb{
         .instragram-section,iframe{
        width:250px !important;
     }}
    
     
     .client-section .client-text .icon{
             font-size: 25px;
     }
     .gallery-bg {
         margin: 30px 0 40px 0;
     }
     .j2,
     .j3 {
         min-height: 140px;
     }
     .j2 .jr2-text p, .j3 .jr2-text p {
        line-height: 16px;
        font-size: 12px;
    }
     .gallery-bg .swiper-button-prev,
     .gallery-bg .swiper-button-next,
     {
         display: none !important;
     }
     .home-swiper {
         .swiper-button-prev,
         .swiper-button-next {
             display: none;
         }
     }
     .banner-one p {
         padding: 0px 0 45px 0;
     }
     .banner-one h3 {
         margin: 70px 0 0 0;
         font-size: 20px;
     }
     h1 {
         font-size: 30px;
     }
     .client-section .client-text {
        padding: 20px 25px 50px 20px;
    }
    .client-section .client-text p {
        font-size: 12px;
        margin: 15px 0 15px 0;
        line-height: 18px;
    }
    .client-text {
        h6 {
            font-size: 12px;
            height: 30px;
        }
    }
    .client-section .client-text .icon {
        font-size: 25px;
    }
     .gallery-bg {
         overflow: hidden;
     }
     .gallery-bg .swiper-slide {
         width: 200px !important;
         height: 150px;
     }
     .gallery-bg .swiper-container1 {
         padding: 0;
     }
     .j2 .jr2-text,
     .j3 .jr2-text {
         left: 0px;
     }
     .j2 .jr2-img,
     .j3 .jr2-img {
         right: 0px;
         width: 150px;
     }
     //scss for about us
     .d-flex {
         display: block;
     }
     .our-team {
         h3 {
             text-align: center;
         }
     }
     //Start of storelocator
     .map-section {
         margin: 15px;
     }
     .custom-slider {
         @include padding(15px);
         margin-left: 0;
         .location-name {
             @include margin(15px 10px);
         }
         .flexslider {
             padding-top: 0;
             padding-bottom: 0;
             .flex-prev {
                 left: -30px !important;
             }
             .flex-next {
                 right: -30px !important;
             }
         }
     }
     .store-location-brands-dtl {
         width: auto;
         height: auto;
     }
     .store-location-dtl {
         @include padding(0 15px);
         .email {
             word-wrap: break-word;
         }
     } //End of store locator
     //scss for footer
     .quick-link {
         padding: 0 0px 0 0px;
     }
     .theme-main-footer a,
     .theme-main-footer p {
         font-size: 12px;
     }
     .top-footer-widget .footer-logo p {
         margin: 0;
     }
     .footer-logo .logo img {
         width: 135px;
     }
     //scss for commig-soon page
     .logo-comming img {
         width: 200px;
     }
     .social-icon-comming {
         left: 75%;
         bottom: 8%;
     }
     .comming-bottom {
         h2 {
             font-size: 25px;
         }
     }

 }