<div class="comming-bg">
    <div class="logo-comming pull-right">
        <img src="img/logo-comming.png" class="img-responsive">
    </div>
    <div class="comming-bottom">
        <div class="comming-cell">
            <div class="text-comming">
                <h2>WE <span> ARE</span></h2>
                <h2> <span>COMING</span> SOON !</h2>
            </div>
            <div class="social-icon social-top">
                <a href="https://www.instagram.com/thevjcafe/" target="blank"><img src="img/instragram-small.png"></a>
                <a href="https://www.facebook.com/TheVJCafe/" target="blank"><img src="img/facebook-small.png"></a>
            </div>
        </div>
    </div>
</div>