/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin: 0;
}

a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    color: #161616;
    font-family: 'Playfair Display', serif;
    /* font-weight: normal; */
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

.text-center {
    text-align: center;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

//Timeline Css
.jr-bg {
    background: url(../img/home/bg-journey.jpg) no-repeat;
    background-size: cover;
    padding: 130px 0 50px;
}

.pt90 {
    padding: 90px 0;
}

.color-red {
    color: #e21e23;
}

.margin0,
footer p {
    margin: 0;
}

.careers-sec .list-cont h3,
.form-sec .submit-sec .btn,
.text-up {
    text-transform: uppercase;
}

.jr-title {
    h1 {
        font-size: 36px;
    }
}

.j2,
.j3 {
    min-height: 250px;
}

.j2,
.j3 {
    position: relative;
}

.j2 .jr2-text,
.j3 .jr2-text {
    width: 100px !important;
    position: absolute;
    left: -7px;
    top: 61px;
}

.year-r {
    font-weight: 700;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.display-inline.jr2-img {
    border: 1px solid #e21e23;
    padding: 5px;
    width: 225px;
    height: auto;
}

.j2 .jr2-img,
.j3 .jr2-img {
    position: absolute;
    right: 0;
    top: 26px;
}

.al-list ul li,
.display-inline {
    display: inline-block;
}

.display-inline.jr2-img:before {
    position: absolute;
    top: 53%;
    left: -41px;
    width: 42px;
    height: 2px;
}

.display-inline.jr2-img:after {
    position: absolute;
    top: 50%;
    left: -42px;
    width: 10px;
    height: 10px;
    border: 1px solid #e21e23;
    border-radius: 100%;
}

.display-inline.jr2-img:after,
.display-inline.jr2-img:before {
    content: '';
    background: #e21e23;
}

.mt-105 {
    margin-top: 115px;
}

.over-fl {
    overflow: hidden;
}

.btn-red {
    background-color: #e21e23;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 7px 26px;
    display: inline-block;
}

.btn-red:hover {
    color: black;
}

.flaticon-left-quote:before {
    content: "\f10b";
}

.client-text {
    margin: 0 8px;
}

//end of timeline css
//scss for swiper
.small-socialicon i {
    font-size: 40px;
    color: #daac5b;
    padding: 0 0 20px 0;
 }
 
 .home-opacity {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
 }
.gallery-bg {
    margin: 100px 0 80px 0;
    .swiper-container1 {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 500px !important;
        height: 350px;
        border: 2px solid white;
    }
    .swiper-pagination-bullets {
        display: none;
    }
    .swiper-button-prev {
        background: url("../img/home/previous-home.png");
        width: 60px;
        height: 60px
    }
    .swiper-button-next {
        background: url("../img/home/next-home.png");
        width: 60px;
        height: 60px
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        display: block !important;
    }
}

//scss for store-locator
//  .head-office{
//      padding: 20px 0;
//      border-bottom: dashed 1px #333;
//  }
//  .title{
//      margin-bottom: 10px;
//      font-weight: bold;
//  }
//  .contact-ways{
//      font-size: 14px;
//  }
//  .telephone {
//      .hours{
//         font-size: 12px;        
//      }
//     margin-top: 5px;
//     i{
//         margin-right: 5px;
//     }
//     span{
//         text-decoration: underline;
//         cursor: pointer;
//         font-size: 12px;
//         display: inline-block;
//         margin-right: 5px;
//     }
//     a{
//         text-decoration: none;
//         color: black;
//         cursor: pointer;
//     }
// }
.flex-item-container {
    position: relative;
    @include align-items(center);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    display: flex;
}

.row-margin {
    margin-bottom: 50px;
    margin-top: 50px;
}

.map-section {
    @include size(500px,
    360px);
    @include margin(15px 15px 15px 95px);
    position: relative;
    overflow: hidden;
    z-index: 1;
    .map-place {
        height: inherit;
    }
}

.custom-slider {
    margin: 0;
    margin-left: -230px;
    background: #341314;
    border: 0;
    border-radius: 0;
    padding: 20px;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    .border {
        border: 1px dashed #fff;
        .location--btn {
            // @extend .btn--brown;
            border: 0px;
            border-bottom: solid 1px white;
            width: 200px;
            text-align: left;
            background-color: #341314;
            color: white;
            span {
                position: absolute;
                right: 0;
            }
            &:focus {
                background-color: #341314 !important;
                color: white;
            }
        }
        .location-dropdown {
            min-width: 200px;
            // @extend .dropdown-hidden-anim;
        }
        .open .location-dropdown {
            // @extend .dropdown-visible-anim;
        }
        .tab-title {
            color: white;
        }
    }
    .location-title {
        min-height: 65px;
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(flex-end);
    }
    .location-name {
        margin-left: 20px;
        margin-right: 20px;
    }
    .flex-control-paging li a {
        display: none;
    }
    .flexslider {
        margin: 0;
        background: #341314;
        border: 0px dashed #fff;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 0px !important;
        color: white;
        .flex-prev {
            opacity: 1;
            left: -55px !important;
            @include size(32px,
            32px);
        }
        .flex-next {
            right: -10px !important;
            @include size(32px,
            32px);
            opacity: 1;
        }
    }
}

.store-location-dtl {
    @include padding(15px);
    color: white;
}
.flex-li{
    list-style-type: none;
}
.store-location-brands-dtl {
    @include size(200px,
    85px);
    @include padding(15px);
    margin-top: 15px;
    margin-bottom: 15px;
    background: white;
    overflow: hidden;
    img {
        width: 120px !important;
        margin: 0 auto;
    }
}
.section-padd {
    padding: 15px;
}

//scss for footer
.social-icon li {
    i {
        font-size: 40px;
        color: #daac5b;
        margin-left: 35px;
        vertical-align: middle;
    }
}

.footer-list-widget .social-name{
    font-size: 16px;
    color: white;
    padding: 0 9px;
}

//scss for franchise
.franchise-section {
    margin: 150px 0;
}

.franchise-section-title h2 {
    line-height: 55px;
    text-transform: capitalize;
    font-size: 45px;
}

.franchise-section-title p {
    line-height: 32px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 300;
}

.franchise-form {
    color: white;
    h3 {
        color: white;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        margin: 0 0 10px;
    }
    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid white !important
    }
    .form-group {
        margin: 15px 0;
    }
    .submit-button {
        margin: 30px 0;
    }
}

//scss for blog page 
.blog-box {
    border-bottom: 1px solid #41240d;
    padding: 40px 0;
    margin-bottom: 60px;
}

.blog-title {
    height: 50px;
    h4 {
        margin: 20px 0 10px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.blog-date {
    font-size: 12px;
    color: black
}

.blog-btn button {
    color: #161616;
    background-color: transparent;
    border: 1px solid #000;
    padding: 8px 12px;
    margin-top: 30px;
}

.blog-popular-tag {
    h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px
    }
    margin-top:40px;
    background: #e5ceb2;
    padding: 25px 20px 25px 20px;
}

.blog-pop-title h5 {
    font-size: 14px;
    font-weight: 700;
}

.blog-pop-date span {
    font-size: 12px;
}

.blog-pop-border {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.popular-top {
    padding-top: 12px;
}