<footer class="theme-main-footer" ng-controller="footerCtrl">
	<div class="top-footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-6 footer-logo">
					<a ui-sref="home" class="logo"><img src="img/logo.png" alt="" width="200px"></a>
					<p>17/A, Shashi building,<br>ground floor, sion circle, sion west.</p>
					<!--<a href="tel:+8779609658" class="">- 8779609658</a>-->
				</div>
				<!-- /.footer-logo -->
				<div class="col-md-4 col-sm-4 col-xs-6 footer-list-widget">
					<h5>Quick Links</h5>
					<div class="display-line">
						<ul class="list-unstyled">
							<li><a ui-sref="home" class="tran3s">Home</a></li>
							<li><a ui-sref="about" class="tran3s">About Us</a></li>
							<li><a ui-sref="franchise" class="tran3s">Franchise</a></li>
						</ul>
					</div>
					<div class="display-line quick-link">
						<ul class="list-unstyled">
							<li><a ui-sref="serve" class="tran3s">What do we serve ?</a></li>
							<li><a ui-sref="storelocator" class="tran3s">Store Locator</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-2
				 col-xs-6">
					<div class="text-left">
						<h5>Office Hours</h5>
						<p>Monday - Friday</p>
						<p>7 am - 6 pm</p>
					</div>
				</div>
				<!-- /.footer-list-widget -->
				<div class="col-md-2 col-sm-2
				 col-xs-6 social-icon">
					<div class="footer-list-widget text-left">
						<h5 class="">follow us On</h5>
						<ul>
							<li>
								<a href="https://www.facebook.com/TheVJCafe/" target="blank"><img src="img/facebook-small.png"></a>
								<a href="https://www.facebook.com/TheVJCafe/" target="blank" class="social-name">Facebook</a>
							</li>
							<li>
								<a href="https://www.instagram.com/thevjcafe/" target="blank"><img src="img/instragram-small.png"></a>
								<a href="https://www.instagram.com/thevjcafe/" target="blank" class="social-name">Instagram</a>
							</li>
							<li>
								<a href="https://www.swiggy.com/mumbai/the-vj-cafe-jvpd-lane-vile-parle" target="blank"><img src="img/swiggy.png"></a>
								<a href="https://www.swiggy.com/mumbai/the-vj-cafe-jvpd-lane-vile-parle" target="blank" class="social-name">swiggy</a>
							</li>
							<li>
								<a href="https://www.zomato.com/mumbai/the-vj-caf%C3%A9-vile-parle-west" target="blank"><img src="img/zomato.png"></a>
								<a href="https://www.zomato.com/mumbai/the-vj-caf%C3%A9-vile-parle-west" target="blank" class="social-name">zomato</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /.subscribe-widget -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.top-footer-widget -->
	<div class="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-5">
					<p class="text-left color-orange">Copyright ©{{template.year}} VJ Cafe </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-7">
					<p class="text-right color-orange">Designed & Developed By <a href="http://wohlig.com/" class="color-orange">Wohlig Transformations Pvt. Ltd.</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- /.bottom-footer -->
	<button class="scroll-top tran3s" style="display: block;" ng-click="scrollTop()">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
</footer>