<footer class="theme-main-footer" ng-controller="footerCtrl">
	<div class="top-footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 footer-logo">
					<a href="#" class="logo"><img src="images/logo/logo2.png" alt=""></a>
					<p>Azimpur, Uttara Sec 7, Dhaka <br>cukapeinc@gmil.com</p>
					<a href="tel:+880-1723-801-729" class="tran3s">+880 1723 801 729</a>
				</div>
				<!-- /.footer-logo -->
				<div class="col-md-6 col-sm-6 col-xs-12 footer-list-widget">
					<h5>Quick Links</h5>
					<div style="display:inline-block">
						<ul class="list-unstyled">
							<li><a href="about-us.html" class="tran3s">About us</a></li>
							<li><a href="pricing-plan.html" class="tran3s">Membership</a></li>
							<li><a href="#" class="tran3s">Item</a></li>
							<li><a href="#" class="tran3s">Refund Policy</a></li>
						</ul>
					</div>
						<div style="display:inline-block">
						<ul class="list-unstyled">
							
							<li><a href="contact-us.html" class="tran3s">Contact us</a></li>
							<li><a href="#" class="tran3s">Refund Policy</a></li>
							<li><a href="contact-us.html" class="tran3s">Contact us</a></li>
						</ul>
					</div>
				</div>
				<!-- /.footer-list-widget -->
				<div class="col-md-2 col-sm-2 col-xs-12 subscribe-widget">
					<div>
						<p>follow us</p>
						<ul>
							<li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
							<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
						</ul>
					</div>
				</div>
				<!-- /.subscribe-widget -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.top-footer-widget -->
	<div class="bottom-footer">
		<p>Copyright ©2017 <span class="p-color">Unifytheme</span></p>
	</div>
	<!-- /.bottom-footer -->
	<button class="scroll-top tran3s" style="display: block;" ng-click="scrollTop()">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
</footer>