<div class="theme-inner-banner">
	<div class="opacity">
		<div class="container">
			<h1>About us</h1>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<div class="our-team team-style-two">
	<div class="container">
		<!-- /.theme-section-title -->
		<div class="row d-flex align-item-center">
			<div class="col-md-4 col-xs-12">
				<div class="team-member">
					<div class="image">
						<img src="img/about/1.jpg" alt="">
						<div class="opacity tran3s">
						</div>
		<!-- /.opacity -->
		</div>
					<h5>Vaibhav Jain </h5>
					<p>Owner</p>
		<!-- /.image -->
		</div>
		<!-- /.team-member -->
		</div>
		<!-- /.col- -->
		<div class="col-md-8 col-xs-12">
				<div class="text">
					<h3 class="color-orange">A Little About Our Company</h3><br>
					<p>Owned and operated by Vaibhav Jain, VJ Cafe was an idea born out of passion and with a mission to spread delight amongst people.</p>
						<p>Founded in 2015, the company strives to contstantly innovate while staying true to its taste, quality and quanity. With over 20+ varities of fries, milkshaeks, burgers, its gaining recognition amongst everyone. Its a price sensitive brand. VJ cafe is coming up with multiple more variations like bottled milkshakes, gravy fries etc. 
					</p><br>				
					<p class="color-orange">USP - The unique flavors of fries and the most selling, twisted potato. It’s an open kitchen concept. The fries are
						freshly made in front of the customer.</p><br>
					<h3 class="color-orange">Our Founder</h3><br>
					<p>Vaibhav Jain, a great foodie, but originally from jewellery and construction industry, founded the VJ Cafe in Vile Parle, Mumbai in 2015. After 2 years of amazing response and recognition,he decided to start frnchising VJ Cafe. </p><br>	
				</div>
		<!-- /.text -->
		</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>