<div class="theme-inner-banner">
	<div class="opacity">
		<div class="container">
			<h1>About us</h1>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<div class="our-team team-style-two">
	<div class="container">
		<!-- /.theme-section-title -->
		<!-- <div class="row d-flex align-item-center">
			<div class="col-md-4 col-xs-12">
				<div class="team-member">
					<div class="image">
						<img src="img/about/1.jpg" alt="">
						<div class="opacity tran3s">
						</div> -->
		<!-- /.opacity -->
		<!-- </div>
					<h5>Vaibhav Jain </h5>
					<p>Owner</p> -->
		<!-- /.image -->
		<!-- </div> -->
		<!-- /.team-member -->
		<!-- </div> -->
		<!-- /.col- -->
		<!-- <div class="col-md-8 col-xs-12">
				<div class="text">
					<h2></h2>
					<p>Vaibhav Jain, originally from jewery and construction industry, founded VJ cafe in Vile parle, mumbai in 2015 after
						he realised his love for food is unstoppable.. He made the decsision to start a fast food cafe serving 20+ varieties
						of fries, twisted potato, milkshakes, wraps and burgers. After 2 years of amazing response from students and across
						social media, he decided to start franchising.</p>
					<p>VJ Cafe is a prce sensitive brand as it attracts lot of young college crowd across the cities. We are coming up with
						multiple more variations like Bottled milkshakes, gravy fries etc. </p>
					<p class="color-orange">USP - The unique flavors of fries and the most selling, twisted potato. It’s an open kitchen concept. The fries are
						freshly made in front of the customer.</p>
				</div> -->
		<!-- /.text -->
		<!-- </div>
		</div> -->
		<!-- /.row -->
		<div class="row">
			<div class="col-md-12">
				<div>
					<p>Vaibhav Jain, originally from jewery and construction industry, founded VJ cafe in Vile parle, mumbai in 2015 after
						he realised his love for food is unstoppable.. He made the decsision to start a fast food cafe serving 20+ varieties
						of fries, twisted potato, milkshakes, wraps and burgers. After 2 years of amazing response from students and across
						social media, he decided to start franchising.</p>
					<p>VJ Cafe is a prce sensitive brand as it attracts lot of young college crowd across the cities. We are coming up with
						multiple more variations like Bottled milkshakes, gravy fries etc. </p>
					<p class="color-orange">USP - The unique flavors of fries and the most selling, twisted potato. It’s an open kitchen concept. The fries are
						freshly made in front of the customer.</p>
				</div>
				<div>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTheVJCafe&tabs=timeline&width=500px&height=214px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
					    width="500px" height="214px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->
</div>