<div class="theme-inner-banner">
	<div class="opacity">
		<div class="container">
			<h1>About us</h1>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li>/</li>
				<li>About us</li>
			</ul>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.opacity -->
</div>
<div class="about-us-section  m-top0">
	<div class="container">
		<div class="row">
			<!--<div class="col-md-6 col-xs-12">
				<div class="row">
					<div class="col-xs-6"><img src="img/about/2.jpg" alt=""></div>
					<div class="col-xs-6"><img src="img/about/3.jpg" alt=""></div>
				</div>
			</div>-->
			<div class="col-md-12 col-xs-12">
				<div class="text text-center">
					<h2>Nothing Like Tasty After You Get Our Item</h2>
					<p>We are a provocative creative agency focused on imagining and building highly-interactive digital user experiences that
						push the limits of user design and development. Thinkers. Doers. Agents of change and be the perefect.We are a provocative
						creative agency. </p>
				</div>
				<!-- /.text -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</div>
<div class="our-team team-style-two">
	<div class="client-section">
		<div class="opacity">
			<div class="container">
				<div class="text-center">
					<h2>Our Awesome Team</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed tincidunt ut laoreet <br> dolore magna aliquam erat volutpat
						lorem
					</p>
				</div>
				<!-- /.theme-section-title -->
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Shimon Carl</h5>
							<p>Head Chef</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Jannatul Fa.</h5>
							<p>Baker</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Rashed Ka.</h5>
							<p>Chef</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Shimon Carl</h5>
							<p>Head Chef</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Jannatul Fa.</h5>
							<p>Baker</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
					<div class="col-sm-4 col-xs-12">
						<div class="team-member">
							<div class="image">
								<img src="img/about/1.jpg" alt="">
							</div>
							<!-- /.image -->
							<h5>Rashed Ka.</h5>
							<p>Chef</p>
						</div>
						<!-- /.team-member -->
					</div>
					<!-- /.col- -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.opacity -->
	</div>
</div>